{
  "service": {
    "name": "{{ poc_service_name }}",
    "port": {{ poc_service_port }},
    "token": "{{ actual_service_token }}",
    "check": {
      "name": "Keycloak Port Listen Check",
      "tcp": "{{ poc_service_ip }}:{{ poc_service_port }}",
      "interval": "10s",
      "timeout": "2s"
    }
  }
}
