node_name   = "{{ consul_node_name }}"
bind_addr   = "{{ consul_bind_addr }}"
client_addr = "0.0.0.0"
data_dir    = "{{ consul_data_dir }}"

encrypt = "{{ consul_gossip_key }}"

server = {{ consul_is_server | lower }}
bootstrap_expect = {{ consul_bootstrap_expect }}

ui_config {
  enabled = {{ consul_enable_ui | lower }}
}

retry_join = [
{% for host in play_hosts %}
  "{{ hostvars[host]['ansible_host'] | default(host) }}"{% if not loop.last %},{% endif %}
{% endfor %}
]

acl {
  enabled = {{ consul_acl_enabled | lower }}
  default_policy = "{{ consul_acl_default_policy }}"
  enable_token_persistence = {{ consul_acl_token_persistence | lower }}

{% if consul_agent_token is defined and consul_agent_token != "" %}
  tokens {
    agent = "{{ consul_agent_token }}"
  }
{% endif %}
}

ports {
  http  = -1
  https = 8501
}

tls {
  defaults {

    ca_file   = "{{ consul_config_dir }}/certs/tls.crt"
    cert_file = "{{ consul_config_dir }}/certs/tls.crt"
    key_file  = "{{ consul_config_dir }}/certs/tls.key"

    verify_incoming = false
    verify_outgoing = false
  }
}
