datacenter = "{{ datacenter }}"
data_dir = "{{ consul_data_dir }}"
encrypt = "{{ encrypt_key }}"
retry_join = ["{{ ip_list.split(",")[0] }}", "{{ ip_list.split(",")[1] }}"]
performance {
    raft_multiplier = {{ raft_mul }}
}
