datacenter = "{{ datacenter }}"

data_dir = "{{ consul_data_dir }}"

encrypt = "{{ hostvars[groups['consul-leader'][0]].encr_key.stdout }}"

retry_join = [
{% for host in groups['consul_servers'] %}
"{{ hostvars[host].ansible_host }}",
{% endfor %}
]

client_addr = "0.0.0.0"

ports {
  dns = 8600
}

ui_config {
  enabled = true
}

performance {
  raft_multiplier = {{ raft_mul }}
}
