[Unit]
Description={{ description }}
Documentation={{ documentation }}

[Service]
WorkingDirectory={{ consul_configd_path }}
User={{ consul_user }}
Group={{ consul_group }}
ExecStart={{ consul_binary }} agent -data-dir {{ consul_data_path }} -config-dir={{ consul_configd_path }}

[Install]
WantedBy={{ wanted_by }}  