datacenter = "{{ datacenter }}"
data_dir = "{{ consul_data_dir }}"
encrypt = "{{ key_encrypt.stdout }}"
retry_join = ["{{ ip_list.split(",")[0] }}", "{{ ip_list.split(",")[2] }}"]
performance {
    raft_multiplier = {{ raft_mul }}
}
