consul {
  address = "{{ consul_template_consul_address }}"
}


template {

  source = "{{ consul_template_config_dir }}/haproxy.ctmpl"

  destination = "{{ haproxy_config_file }}"

  command = "systemctl reload haproxy"

}
