datacenter = "{{ datacenter }}"
data_dir = "{{ consul_data_dir }}"
encrypt = "{{ key_encrypt.stdout }}"
retry_join = ["{{ ansible_default_ipv4.address }}"]
performance {
    raft_multiplier = {{ raft_mul }}
}
