# Consul Backup Configuration

general:
  remote_storage: {{ 's3' if consul_backup_enabled else 'none' }}
  backups_to_keep_remote: {{ consul_backups_to_keep_remote }}

s3:
  bucket: "{{ consul_backup_bucket }}"
  path: "consul-backups"
  access_key: "{{ consul_backup_s3_access_key }}"
  secret_key: "{{ consul_backup_s3_secret_key }}"
  endpoint: "{{ consul_backup_minio_endpoint }}"
  force_path_style: true
  disable_ssl: true
