global
    daemon

defaults
    mode http
    timeout connect 5s
    timeout client 50s
    timeout server 50s

{% for svc in consul_haproxy_services %}

backend {{ svc.name }}

{{ "{{" }} range service "{{ svc.name }}" {{ "}}" }}
    server {{ "{{" }} .Node {{ "}}" }} {{ "{{" }} .Address {{ "}}" }}:{{ "{{" }} .Port {{ "}}" }} check
{{ "{{" }} end {{ "}}" }}

{% endfor %}
