global
    daemon
    maxconn 4096


defaults
    mode http
    timeout connect 5s
    timeout client 60s
    timeout server 60s


frontend http_front

    bind *:{{ haproxy_frontend_port }}


{% for service in haproxy_services %}

    acl host_{{ service.name }} hdr(host) -i {{ service.domain }}

    use_backend {{ service.name }}_backend if host_{{ service.name }}

{% endfor %}



{% for service in haproxy_services %}

backend {{ service.name }}_backend

    balance roundrobin

{{ "{{" }} range service "{{ service.name }}" {{ "}}" }}

    server {{ "{{" }} .Node {{ "}}" }} {{ "{{" }} .Address {{ "}}" }}:{{ "{{" }} .Port {{ "}}" }} check

{{ "{{" }} end {{ "}}" }}


{% endfor %}
